@font-face {
  font-family: "netflix";
  src: url("/font/NetflixSans-Regular.otf");
  font-style: normal;
}
@font-face {
  font-family: "netflix-light";
  src: url("/font/NetflixSans-Light.otf");
  font-style: light;
}
@font-face {
  font-family: "netflix-medium";
  src: url("/font/NetflixSans-Bold.otf");
  font-style: medium;
}
@font-face {
  font-family: "netflix-bold";
  src: url("/font/NetflixSans-Bold.otf");
  font-style: bold;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'netflix';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
